In [ ]:
%run C:/Users/u1448398/Income_Prediction_1.ipynb

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25000 entries, 0 to 24999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             25000 non-null  int64
 1   workclass       25000 non-null  object
 2   fnlwgt          25000 non-null  int64
 3   education       25000 non-null  object
 4   education.num   25000 non-null  int64
 5   marital.status  25000 non-null  object
 6   occupation      25000 non-null  object
 7   relationship    25000 non-null  object
 8   race            25000 non-null  object
 9   sex             25000 non-null  object
 10  capital.gain    25000 non-null  int64
 11  capital.loss    25000 non-null  int64
 12  hours.per.week  25000 non-null  int64
 13  native.country  25000 non-null  object
 14  income>50K      25000 non-null  int64
dtypes: int64(7), object(8)
memory usage: 2.9+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 1437 entries, 26 to 24999
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             1437 non-null   int64
 1   workclass       1437 non-null   object
 2   fnlwgt          1437 non-null   int64
 3   education       1437 non-null   object
 4   education.num   1437 non-null   int64
 5   marital.status  1437 non-null   object
 6   occupation      1437 non-null   object
 7   relationship    1437 non-null   object
 8   race            1437 non-null   object
 9   sex             1437 non-null   object
 10  capital.gain    1437 non-null   int64
 11  capital.loss    1437 non-null   int64
 12  hours.per.week  1437 non-null   int64
 13  native.country  1437 non-null   object
 14  income>50K      1437 non-null   int64
dtypes: int64(7), object(8)
memory usage: 179.6+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23152 entries, 0 to 24998
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23152 non-null  int64
 1   workclass       23152 non-null  object
 2   fnlwgt          23152 non-null  int64
 3   education       23152 non-null  object
 4   education.num   23152 non-null  int64
 5   marital.status  23152 non-null  object
 6   occupation      23152 non-null  object
 7   relationship    23152 non-null  object
 8   race            23152 non-null  object
 9   sex             23152 non-null  object
 10  capital.gain    23152 non-null  int64
 11  capital.loss    23152 non-null  int64
 12  hours.per.week  23152 non-null  int64
 13  native.country  23152 non-null  object
 14  income>50K      23152 non-null  int64
dtypes: int64(7), object(8)
memory usage: 2.8+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 23152 entries, 0 to 24998
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             23152 non-null  int64
 1   fnlwgt          23152 non-null  int64
 2   education.num   23152 non-null  int64
 3   capital.gain    23152 non-null  int64
 4   capital.loss    23152 non-null  int64
 5   hours.per.week  23152 non-null  int64
 6   income>50K      23152 non-null  int64
 7   workclass       23152 non-null  int64
 8   education       23152 non-null  int64
 9   marital.status  23152 non-null  int64
 10  occupation      23152 non-null  int64
 11  relationship    23152 non-null  int64
 12  race            23152 non-null  int64
 13  sex             23152 non-null  int64
 14  native.country  23152 non-null  int64
dtypes: int64(15)
memory usage: 2.8 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23842 entries, 0 to 23841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              23842 non-null  int64
 1   age             23842 non-null  float64
 2   workclass       23842 non-null  object
 3   fnlwgt          23842 non-null  float64
 4   education       23842 non-null  object
 5   education.num   23842 non-null  float64
 6   marital.status  23842 non-null  object
 7   occupation      23842 non-null  object
 8   relationship    23842 non-null  object
 9   race            23842 non-null  object
 10  sex             23842 non-null  object
 11  capital.gain    23842 non-null  float64
 12  capital.loss    23842 non-null  float64
 13  hours.per.week  23842 non-null  float64
 14  native.country  23842 non-null  object
dtypes: float64(6), int64(1), object(8)
memory usage: 2.7+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23842 entries, 0 to 23841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              23842 non-null  int64
 1   age             23842 non-null  float64
 2   fnlwgt          23842 non-null  float64
 3   education.num   23842 non-null  float64
 4   capital.gain    23842 non-null  float64
 5   capital.loss    23842 non-null  float64
 6   hours.per.week  23842 non-null  float64
 7   workclass       23842 non-null  int32
 8   education       23842 non-null  int32
 9   marital.status  23842 non-null  int32
 10  occupation      23842 non-null  int32
 11  relationship    23842 non-null  int32
 12  race            23842 non-null  int32
 13  sex             23842 non-null  int32
 14  native.country  23842 non-null  int32
dtypes: float64(6), int32(8), int64(1)
memory usage: 2.0 MB

In [ ]:
import numpy as np
import pandas as pd
from collections import Counter
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import roc_auc_score
import csv

# Load data
X_train = df.drop('income>50K', axis=1)
y_train = df['income>50K']
X_test = df_test.copy()

# Train an AdaBoostClassifier
adaboost_classifier = AdaBoostClassifier(n_estimators=50, random_state=42)
adaboost_classifier.fit(X_train, y_train)

# Identify missing categorical features in the test data and fill them with zeros
missing_categorical_columns = set(categorical_columns) - set(X_train.columns)
for col in missing_categorical_columns:
    X_test[col] = 0

# Generate predictions on the test data
expected_columns = list(X_train.columns)
X_test = df_test[expected_columns]
predictions = adaboost_classifier.predict_proba(X_test)[:, 1]  # Probability predictions

# Generate an array of IDs for the test data
test_ids = range(1, len(df_test) + 1)

# Create a DataFrame for the predictions
predictions_df = pd.DataFrame({'ID': test_ids, 'Prediction': predictions})

# Save the predictions in the desired format
predictions_df.to_csv("Predictions-with-adaboost.csv", index=False)